<a href="https://colab.research.google.com/github/vjmiyagi/DS-Unit-2-Applied-Modeling/blob/master/module1-define-ml-problems/VJMiyagi_LS_DSPT6_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

#  Choose your target. Which column in your tabular dataset will you predict?

# Powerball

Predict whether or not there will be a winner

In [0]:
import pandas as pd
import numpy as np

In [0]:
pb_df = pd.read_csv('PBfrom1998.csv')

In [18]:
pb_df.head()

    num       date  b1  b2  ...  winner  Draw Date   Jackpot Prize  Lucky
0  2356  5/30/2020  32  13  ...     NaN   4/8/2020    $190 Million    1.0
1  2355  5/27/2020  58  38  ...     NaN  2/15/2020     $70 Million    1.0
2  2354  5/23/2020   2  23  ...     NaN  1/29/2020  $396.9 Million    1.0
3  2353  5/20/2020  42  40  ...     NaN  11/2/2019    $150 Million    1.0
4  2352  5/16/2020   8  12  ...     NaN  9/21/2019     $80 Million    1.0

[5 rows x 14 columns]

In [0]:
win_df = pb_df[['Draw Date', 'Jackpot Prize', 'Lucky']]

In [25]:
win_df.head()

   Draw Date   Jackpot Prize  Lucky
0   4/8/2020    $190 Million    1.0
1  2/15/2020     $70 Million    1.0
2  1/29/2020  $396.9 Million    1.0
3  11/2/2019    $150 Million    1.0
4  9/21/2019     $80 Million    1.0

In [0]:
pb_df = pb_df.drop(columns=['num', 'Draw Date', 'Jackpot Prize', 'Lucky'])

In [22]:
pb_df.head()

        date  b1  b2  b3  b4  b5  pb   pp    jackpot  winner
0  5/30/2020  32  13  58  41  60  14  2.0  125000000     NaN
1  5/27/2020  58  38  59  64  68  21  3.0  114000000     NaN
2  5/23/2020   2  23   8  18  21  16  4.0  104000000     NaN
3  5/20/2020  42  40  50  18  34   9  2.0   95000000     NaN
4  5/16/2020   8  12  26  42  39  11  2.0   86000000     NaN

In [0]:
pb_df['winner'] = int(0)

In [24]:
pb_df.head()

        date  b1  b2  b3  b4  b5  pb   pp    jackpot  winner
0  5/30/2020  32  13  58  41  60  14  2.0  125000000       0
1  5/27/2020  58  38  59  64  68  21  3.0  114000000       0
2  5/23/2020   2  23   8  18  21  16  4.0  104000000       0
3  5/20/2020  42  40  50  18  34   9  2.0   95000000       0
4  5/16/2020   8  12  26  42  39  11  2.0   86000000       0

In [0]:
	
df['Event'].mask(df['Event'] == 'Hip-Hop', 'Jazz', inplace=True)

In [0]:
pb_df['date']

#  Is your problem regression or classification?

#  How is your target distributed?
Classification: How many classes? Are the classes imbalanced?
Regression: Is the target right-skewed? If so, you may want to log transform the target.

#  Choose your evaluation metric(s).
Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?

#  Choose which observations you will use to train, validate, and test your model.
Are some observations outliers? Will you exclude them?
Will you do a random split or a time-based split?

#  Begin to clean and explore your data.

#  Begin to choose which features, if any, to exclude. Would some features "leak" future information?